In [97]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Imputer

In [98]:
data=pd.read_csv('titanic.csv')
#print(data.info())
#data.head(5)

In [99]:
## column no. 0,3,8,10,11 are not relevant for model building
columns_to_remove=['PassengerId','Name','Ticket','Cabin','Embarked']
data_clean=data.drop(columns=columns_to_remove,axis=1)
data_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [113]:
le=LabelEncoder()
data_clean['Sex'] = le.fit_transform(data_clean['Sex'])
data_clean = data_clean.fillna(data_clean['Age'].mean())

dataX=data_clean[['Pclass','Sex','Age','SibSp','Parch','Fare']]
dataY=data_clean['Survived']

In [114]:
dataX.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [41]:
# Handling Missing Values (Imputer Class in Sklearn)
# im=Imputer(strategy='median')
# dataX=im.fit_transform(dataX))
# dataX.columns=[['Pclass','Sex','Age','SibSp','Parch','Fare']]
# dataX.head()

## Implementing entropy and information gain functions

In [115]:
def entropy(data,col):
    counts=np.unique(data[col],return_counts=True)
    entropy=0.0
    for i in counts[1]:
        p=i/data.shape[0]
        entropy+=-(p)*np.log2(p)
    return entropy

In [116]:
def divideData(data,fcol,fval):
    left = pd.DataFrame(columns=data.columns)
    right = pd.DataFrame(columns=data.columns)
    
    for i in range(data.shape[0]):
        val = data[fcol].iloc[i]
        if val<=fval:
            left=left.append(data.iloc[i])
        else:
            right=right.append(data.iloc[i])
    return left,right

In [125]:
def informationGain(data,fcol):
    fval=data[fcol].mean()
    left,right=divideData(data,fcol,fval)
    
    l=left.shape[0]/dataX.shape[0]
    r=right.shape[0]/dataX.shape[0]
    
    if left.shape[0]==0 or right.shape[0]==0:
        return -100000
    
    infoGain= entropy(data,'Survived') - l*entropy(left,'Survived') - r*entropy(right,'Survived')
    
    return infoGain

In [126]:
for col in dataX.columns:
    print(col,informationGain(data_clean,col))

Pclass 0.07579362743608165
Sex 0.2176601066606143
Age 0.001158644038169343
SibSp 0.009584541813400127
Parch 0.015380754493137888
Fare 0.04214069283899541

In [131]:
a=pd.DataFrame([1,1,1,1,1,1,0,0,0,0,0])
a=pd.DataFrame([1,1,1,1,1,1,0,0,0,0,0])
entropy(a,0)

0.9940302114769565